@{
    ViewData["Title"] = "Home Page";
}
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>

<body style="margin-bottom: 20px;">
    <div class="container text-center mt-5">
        <h1 class="display-1 mb-4">Welcome</h1>
        <img src="https://www.doctorcondominiocr.com/uploads/6/5/8/8/6588535/header_images/1504445753.jpg" class="card-img-top" style="max-width: 50%;" alt="...">
        <table>
            <tbody>
                <tr class="table-dark">
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <main>
        <figure class="text-center">
            <blockquote class="blockquote">
                <p class="mb-0">Sistema de Administración de Condominios</p>

            </blockquote>
            <figcaption class="blockquote-footer">
                ¡Hola! Sabemos que estás en busca de la solución perfecta para las necesidades de tu condominio, por lo que estamos muy felices de verte por acá ya que en AVC trabajamos por ese objetivo, entregando mucho más de lo que esperabas.
                <cite title="Source Title">Darian & Angel</cite>
            </figcaption>
        </figure>
    </main>

    <footer class="border-top footer text-muted">
        <div class="card w-25">
            <!-- Modificamos la clase para reducir el tamaño del card -->
            <img src="https://ms-m2.com/wp-content/uploads/2021/03/casa-condominio-navarra-escazu-ms-m2-12-2-818x540.png" class="card-image" style="max-width: 100%;" alt="...">

            <div class="card-body">
                <h5 class="card-title">House</h5>
                <p class="card-text">Hermosa casa en condominio ubicada en Laureles, en Escazú</p>
                <a href="info" class="btn btn-primary">See more</a>
            </div>

        </div>
    </footer>
</body>


